.nav{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(199, 199, 199, 0.5);
}
.nav__list{
    display: flex;
    justify-content: space-between;

}
.nav__link{
    position: relative;
    color: #2e363e;
}

.nav__notification{
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 25px;
    bottom: 15px;
}