@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "reset.css";
@import "variables.css";

@import "status-bar.css";
@import "nav-bar.css";

@import "login.css";

@import "welcome.css";

body{
    font-family: 'Open Sans', sans-serif;
    height: 1000vh;
}

.nav{
    background-color: #f9f9fa;
    padding: 20px 40px;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}