@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "reset.css";
@import "variables.css";

@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "icon-add.css";
@import "alt-screen-header.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "welcome.css";
@import "user-component.css";
@import "badge.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body{
    color: #2e363e;
    font-family: 'Open Sans', sans-serif;
    height: 1000vh;
}

.nav{
    background-color: #f9f9fa;
    padding: 20px 40px;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}

.main-screen{
    padding :0px var(--horizontal-space);
}